
@{
    Layout = "~/Views/Shared/BookLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body style="background-color:#ffffff">

    <!-- ====================================================
    header section -->
    <!-- According to disease -->
    <section class="service text-center" id="disease">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <h2> بيماريوں کے مطابق کتاب </h2><br><br>
                <h4>اس سيکشن کی مدد سے آپ بيماريوں کے فارميٹ ميں کتاب ڈاؤن لوڈ کرسکتے ہيں۔ کتاب ڈاؤن لوڈ کرنے کےليے نيچے موجود بٹن پر کلک کريں۔</h4>
                <p>
                    @*<a class="btn btn-success" href="@Url.Action("GenerateReport1")">1 ڈاؤن لوڈ کتاب </a>*@
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport1">ڈاؤن لوڈ کتاب1</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport2">ڈاؤن لوڈ کتاب2</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport3">ڈاؤن لوڈ کتاب3</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport4">ڈاؤن لوڈ کتاب4</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport5">ڈاؤن لوڈ کتاب5</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport6">ڈاؤن لوڈ کتاب6</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport7">ڈاؤن لوڈ کتاب7</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport8">ڈاؤن لوڈ کتاب8</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport9">ڈاؤن لوڈ کتاب9</a></button><br><br>
                    <button style="background-color: #ffffff ; color: black;"><a href="GenerateReport10">ڈاؤن لوڈ کتاب10</a></button><br><br>
                </p>
                @*<button style="background-color: #ffffff ; color: black;"><a href="#service">ڈاؤن لوڈ کتاب</a></button><br><br>*@
                <button style="background-color: #ffffff ; color: black;"><a href="#menu">مینو پر جائیں</a></button><br><br><br>
            </div>
        </div>
    </section>
    <!-- According to medicinen -->
    <section class="about text-center" id="medicine">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <h2>ادويات کے مطابق کتاب </h2><br><br>
                <h4>اس سيکشن کی مدد سے آپ ادويات کے فارميٹ ميں کتاب ڈاؤن لوڈ کرسکتے ہيں۔ کتاب ڈاؤن لوڈ کرنے کےليے نيچے موجود بٹن پر کلک کريں۔</h4>
                <button style="background-color:#00B4CC ; text-color: #ffff;"><a href="#service" style="color:#ffff;"><a href="Book.html" download="Book">ڈاؤن لوڈ کتاب </a></button><br><br>
                <button style="background-color:#00B4CC ; text-color: #ffff;"><a href="#menu" style="color:#ffff;">مینو پر جائیں</a></button><br><br><br>

            </div>
        </div>
    </section><br><br>
    <!-- According to  Category -->
    <section class="service text-center" id="category">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <h2>زمزمہ کے مطابق کتاب  </h2><br><br>
                <h4>اس سيکشن کی مدد سے آپ زمزمہ کے فارميٹ ميں کتاب ڈاؤن لوڈ کرسکتے ہيں۔ کتاب ڈاؤن لوڈ کرنے کےليے نيچے موجود بٹن پر کلک کريں۔</h4>
                <button style="background-color: #ffffff ; color:blue ;"><a href="#service">ڈاؤن لوڈ کتاب</a></button><br><br>
                <button style="background-color: #ffffff ; color: black;"><a href="#menu">مینو پر جائیں</a></button><br><br><br>
            </div>
        </div>
    </section>
    <!--- footer --->
    <!-- script tags
    ============================================================= -->
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
