@{
    Layout = "~/Views/Shared/TreatmentLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body style="background-color:#ffffff">
    
    <!-- By Entering disease -->
    <section class="service text-center" id="disease">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <div class="team-heading text-center">
                    <div class="col-md-12 col-sm-6"></div>
                    <h2>بيماری کا علاج </h2>
                    <h3 style="color:#ffff;">بيماری کے نام کے اندراج سے</h3><br>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <br><br><br><br><br><br><br><br><div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder=" بيماری کے نام کا اندراج کريں">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <br><br><br><button style="background-color: #ffffff ; color: black;"><a href="#menu">مینو پر جائیں</a></button><br><br><br>
                </div>
            </div>
            </div>
    </section>
    <!-- By entering disease symptoms -->
    <section class="team" id="symptom">
        <div class="container">
            <div class="header-backup"></div>
            <div class="row">
                <div class="team-heading text-center">
                    <div class="col-md-12 col-sm-6"></div>
                    <h2>بيماری کا علاج </h2>
                    <h3 style="color:#00B4CC;">علامات کے اندراج سے</h3><br><br><br>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <br><br><br><br><div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder=" بيماری کی علامات کا اندراج کريں">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="col-md-2 col-sm-6"> </div>
                    <div class="col-md-10 col-sm-6">
                        <br><button style="background-color:#00B4CC ; text-color: #ffff;"><a href="#menu" style="color:#ffff;">مینو پر جائیں</a></button><br><br><br>
                    </div>
                </div>
            </div>


            <!-- script tags
            ============================================================= -->
            <script src="~/js/jquery-2.1.1.js"></script>
            <script src="~/js/smoothscroll.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/custom.js"></script>
</body>
</html>