@model MediaEncyclopediaInUrdu.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br /><br /><br /><br />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-11">
                @Html.LabelFor(Model => Model.Email, new { style = "margin-left:-35px" })
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "text-align:right; ", @placeholder = "نام کا اندراج کريں" })
            </div>

        </div>

        <br />
        
        <div class="col-md-4">
        <button style="background-color:#00B4CC ; margin-left:450px; text-color: #ffff;" placeholder="پاسورڈ بھیجیں" value="پاسورڈ بھیجیں">پاسورڈ بھیجیں</button> <br /><br /></div>

        <br />
        <br />
        <br />
    </div>
}
